<html>
<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">


  <!-- set viewport to device width to make site responsive -->
  <meta name="viewport" content="width=device-width, initial-scale=1">

  <!-- bootstrap css -->
  <link type="text/css" rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0/css/bootstrap.min.css">
  <link type="text/css" rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/font-awesome/4.7.0/css/font-awesome.min.css">

  <!-- custom styles -->
  <link rel="stylesheet" type="text/css" href="/styles/checkout.css">
  <link rel="stylesheet" type="text/css" href="/styles/styles.css">
  <!-- <script type='text/javascript' src='https://app.ticketmaster.com/discovery/v2/events.json?apikey=l9XiABE2P5GIQGAhtFcErCCFoA2Ap9R4'> </script> -->
  <!-- jQuery library -->
  <script src="https://code.jquery.com/jquery-3.2.1.slim.min.js" integrity="sha384-KJ3o2DKtIkvYIK3UENzmM7KCkRr/rE9/Qpg6aAZGJwFDMVNA/GpGFF93hXpG5KkN" crossorigin="anonymous"></script>

  <!-- Popper -->
  <script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.12.9/umd/popper.min.js" integrity="sha384-ApNbgh9B+Y1QKtv3Rn7W3mgPxhU9K/ScQsAP7hUibX39j7fakFPskvXusvfa0b4Q" crossorigin="anonymous"></script>

  <!-- Slideout -->
  <script src="https://cdnjs.cloudflare.com/ajax/libs/slideout/1.0.1/slideout.min.js"></script>

  <!-- Latest compiled and minified Bootstrap JavaScript -->
  <script src="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0/js/bootstrap.min.js" integrity="sha384-JZR6Spejh4U02d8jOt6vLEHfe/JQGiRRSQQxSfFWpi1MquVdAyjUar5+76PVCmYl" crossorigin="anonymous"></script>

  <link href="https://fonts.googleapis.com/css?family=Titillium+Web" rel="stylesheet">

  <title>Checkout</title>
</head>
<body>

  <!--Navbar-->
  <nav class="navbar navbar-light light-blue lighten-4">

    <!-- Navbar brand -->
    <a class="navbar-brand">Tickets On Ice</a>

    <!-- Collapse button -->
    <button class="navbar-toggler toggler-example" type="button" data-toggle="collapse" data-target="#navbarSupportedContent1" aria-controls="navbarSupportedContent1"
    aria-expanded="false" aria-label="Toggle navigation"><span class="dark-blue-text"><i class="fa fa-bars fa-1x"></i></span></button>

    <!-- Collapsible content -->
    <div class="collapse navbar-collapse" id="navbarSupportedContent1">

      <!-- Links -->
      <ul class="navbar-nav mr-auto">
        <li class="nav-item active">
          <a class="nav-link" href="/home">Search <span class="sr-only">(current)</span></a>
        </li>
        <li class="nav-item">
          <a class="nav-link" href="#">Tickets</a>
        </li>
        <li class="nav-item">
          <a class="nav-link" href="#">Arenas</a>
        </li>
        <li class="nav-item">
          <a class="nav-link" href="/account">Account</a>
        </li>
      </ul>
      <!-- Links -->

    </div>
    <!-- Collapsible content -->

  </nav>
  <!--/.Navbar-->

  <h5>Payment</h5>
  <form id="payment-form" method="post" action="payment.php" role="form">

    <div class="messages"></div>

    <div class="controls">

      <div class="row">
        <div class="col-md-6">
          <div class="form-group">
            <input id="cc_number" type="text" name="name" class="form-control" placeholder="Credit Card # *" required="required" data-error="Firstname is required.">
            <div class="help-block with-errors"></div>
            <div class="form-row align-items-center">
              <div class="col-auto my-1">
                <select class="custom-select mr-sm-2" id="creditCardType">
                  <option selected>Select Card Type *</option>
                  <option value="VISA">VISA</option>
                  <option value="MasterCard">MasterCard</option>
                  <option value="American Express">American Express</option>
                </select>
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
  <div class="row">
    <div class="col-md-6">
      <div class="form-group">
        <div class="form-row align-items-center">
          <div class="col-auto my-1">
            <select class="custom-select mr-sm-2" id="expireMonth">
              <option selected>Exp Month *</option>
              <option value="1">1</option>
              <option value="2">2</option>
              <option value="3">3</option>
              <option value="4">4</option>
              <option value="5">5</option>
              <option value="6">6</option>
              <option value="7">7</option>
              <option value="8">8</option>
              <option value="9">9</option>
              <option value="10">10</option>
              <option value="11">11</option>
              <option value="12">12</option>
            </select>
          </div>
        </div>
        <div class="form-row align-items-center">
          <div class="col-auto my-1">
            <select class="custom-select mr-sm-2" id="expireYear">
              <option selected>Exp Year *</option>
              <option value="1">1</option>
              <option value="2">2</option>
              <option value="3">3</option>
              <option value="4">4</option>
              <option value="5">5</option>
              <option value="6">6</option>
              <option value="7">7</option>
              <option value="8">8</option>
              <option value="9">9</option>
              <option value="10">10</option>
              <option value="11">11</option>
              <option value="12">12</option>
            </select>
          </div>
        </div>
        <input id="security_code" type="text" name="security_code" class="form-control" placeholder="CVC *" required="required" data-error="Security code is required.">
        <div class="help-block with-errors"></div>
      </div>
    </div>
  </div>

  <h5>Billing Address</h5>
  <div class="row">
    <div class="col-md-6">
      <div class="form-group">
        <input id="form_name" type="text" name="name" class="form-control" placeholder="First name *" required="required" data-error="First name is required.">
        <div class="help-block with-errors"></div>
      </div>
    </div>
    <div class="col-md-6">
      <div class="form-group">
        <input id="form_lastname" type="text" name="surname" class="form-control" placeholder="Last name *" required="required" data-error="Last name is required.">
        <div class="help-block with-errors"></div>
      </div>
    </div>
  </div>
  <div class="row">
    <div class="col-md-6">
      <div class="form-group">
        <input id="form_address" type="address" name="address" class="form-control" placeholder="Address *" required="required" data-error="Address is required.">
        <div class="help-block with-errors"></div>
      </div>
    </div>
  </div>
  <div class="row">
    <div class="col-md-6">
      <div class="form-group">
        <input id="unit_number" type="unit_number" name="unit_number" class="form-control" placeholder="Unit #">
    </div>
</div>
</div>
<div class="row">
  <div class="col-md-6">
    <div class="form-group">
    <input id="form_address2" type="address2" name="address2" class="form-control" placeholder="Address Line 2">
  </div>
  </div>
</div>
  <div class="row">
    <div class="col-md-6">
      <div class="form-group">
        <input id="city" type="text" name="city" class="form-control" placeholder="City *" required="required" data-error="City is required.">
        <div class="help-block with-errors"></div>
</div>
</div>
</div>
<div class="row">
  <div class="col-md-6">
    <div class="form-group">
          <div class="col-auto my-1">
            <select class="custom-select mr-sm-2" id="state">
              <option selected>State *</option>
              <option value="VISA">Alabama</option>
              <option value="MasterCard">Alaska</option>
              <option value="American Express">Arizona</option>
              <option value="VISA">Arkansas</option>
              <option value="MasterCard">California</option>
              <option value="American Express">Colorado</option>
            </select>
          </div>
          <input id="zip_code" type="zip_code" name="zip_code" class="form-control" placeholder="Zip code">
          </div>
        </div>
      </div>
    </div>
  </div>
  <div class="row">
    <div class="col-md-6">
      <div class="form-group">
        <input id="form_phone" type="tel" name="phone" class="form-control" placeholder="Phone">
        <div class="help-block with-errors"></div>
</div>
</div>
</div>
<div class="row">
  <div class="col-md-6">
    <div class="form-group">
        <input id="alt_phone" type="tel" name="alt_phone" class="form-control" placeholder="Alternate phone">
        <div class="help-block with-errors"></div>
      </div>
    </div>
  </div>
  <div class="col-md-12">
    <input type="submit" class="btn btn-success btn-send" value="Place Order">
  </div>
</div>
</form>
</body>
</html>
