<html>
<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">


  <!-- set viewport to device width to make site responsive -->
  <meta name="viewport" content="width=device-width, initial-scale=1">

  <!-- bootstrap css -->
  <link type="text/css" rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0/css/bootstrap.min.css">
  <link type="text/css" rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/font-awesome/4.7.0/css/font-awesome.min.css">

  <!-- custom styles -->
  <link rel="stylesheet" type="text/css" href="/styles/home.css">
  <!-- <script type='text/javascript' src='https://app.ticketmaster.com/discovery/v2/events.json?apikey=l9XiABE2P5GIQGAhtFcErCCFoA2Ap9R4'> </script> -->
  <!-- jQuery library -->
  <script src="https://code.jquery.com/jquery-3.2.1.slim.min.js" integrity="sha384-KJ3o2DKtIkvYIK3UENzmM7KCkRr/rE9/Qpg6aAZGJwFDMVNA/GpGFF93hXpG5KkN" crossorigin="anonymous"></script>

  <!-- Popper -->
  <script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.12.9/umd/popper.min.js" integrity="sha384-ApNbgh9B+Y1QKtv3Rn7W3mgPxhU9K/ScQsAP7hUibX39j7fakFPskvXusvfa0b4Q" crossorigin="anonymous"></script>

  <!-- Slideout -->
  <script src="https://cdnjs.cloudflare.com/ajax/libs/slideout/1.0.1/slideout.min.js"></script>

  <!-- Latest compiled and minified Bootstrap JavaScript -->
  <script src="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0/js/bootstrap.min.js" integrity="sha384-JZR6Spejh4U02d8jOt6vLEHfe/JQGiRRSQQxSfFWpi1MquVdAyjUar5+76PVCmYl" crossorigin="anonymous"></script>

  <link href="https://fonts.googleapis.com/css?family=Titillium+Web" rel="stylesheet">

  <script src="https://unpkg.com/axios/dist/axios.min.js"></script>
  <script type="text/javascript" src="../public/scripts/jquery.shop.js"></script>
<title>Home</title>
</head>
<body>

<!--Navbar-->
<nav class="navbar navbar-light light-blue lighten-4">

    <!-- Collapse button -->
    <button class="navbar-toggler toggler-example" type="button" data-toggle="collapse" data-target="#navbarSupportedContent1" aria-controls="navbarSupportedContent1"
        aria-expanded="false" aria-label="Toggle navigation"><span class="dark-blue-text"><i class="fa fa-bars fa-1x"></i></span></button>

    <!-- Collapsible content -->
    <div class="collapse navbar-collapse" id="navbarSupportedContent1">

        <!-- Links -->
        <ul class="navbar-nav mr-auto">
            <li class="nav-item active">
                <a class="nav-link" href="/home">Home <span class="sr-only">(current)</span></a>
            </li>
            <li class="nav-item">
                <a class="nav-link" href="/account">Account</a>
            </li>
        </ul>
        <!-- Links -->

    </div>
    <!-- Collapsible content -->

</nav>

<a href="/home"><h4>Tickets On Ice</h4></a>
<div class="hockey_games">
  <div class="game1">
  <h5>San Jose Sharks vs. Anaheim Ducks</h5>
  <h6>Honda Center in Anaheim</h6>
  <h6>Saturday, 7:00 PM</h6>
  <label for="qty-1">Price: $25 &nbsp;Quantity</label>
								<input type="text" name="qty-1" id="qty-1" class="qty" value="1" /><br>
  <a href='/cart'><input type="submit" class="btn btn-success btn-send" value="Add to cart"></a>
</div>
<div class="game2">
  <h5>Vancouver Canucks vs. San Jose Sharks</h5>
  <h6>SAP Center in San Jose</h6>
  <h6>Sunday, 7:00 PM</h6>
  <label for="qty-1">Price: $25 &nbsp;Quantity</label>
								<input type="text" name="qty-1" id="qty-1" class="qty" value="1" /><br>
  <a href='/cart'><input type="submit" class="btn btn-success btn-send" value="Add to cart"></a>
</div>
<div class="game3">
  <h5>Los Angeles Kings vs San Jose Sharks</h5>
  <h6>SAP Center in San Jose</h6>
  <h6>Monday, 7:30 PM</h6>
  <label for="qty-1">Price: $25 &nbsp;Quantity</label>
								<input type="text" name="qty-1" id="qty-1" class="qty" value="1" /><br>
  <a href='/cart'><input type="submit" class="btn btn-success btn-send" value="Add to cart"></a>
</div>
</div>
</body>
</html>
