<html>
<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">


  <!-- set viewport to device width to make site responsive -->
  <meta name="viewport" content="width=device-width, initial-scale=1">

  <!-- bootstrap css -->
  <link type="text/css" rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0/css/bootstrap.min.css">

  <!-- custom styles -->
  <link rel="stylesheet" type="text/css" href="/styles/login.css">
  <link rel="stylesheet" type="text/css" href="/styles/styles.css">

  <!-- jquery -->
  <script type="text/javascript" src="/scripts/jquery.js"></script>
  <!-- bootstrap js -->
  <script type="text/javascript" src="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0/js/bootstrap.min.js"></script>

  <!-- custom script -->
  <script type="text/javascript" src="/scripts/app.js"></script>
  <script src="https://apis.google.com/js/platform.js" async defer></script>

  <title>Login</title>
</head>
<body>

  <div class='container'>
<h5 class="back_button"><a href='/signup_login'>Back</a></h5>
<form method='post' action='/login'>


  <div class="form-group">
    <input class="form-control" id="email" name='email' placeholder="Email"/>
  </div>
  <div class="form-group">
    <input type="password" class="form-control" id="password" name='password' placeholder='Password'/>
  </div>
  <div>
    <a href='/home'><button type="button" class="btn col-10" id='btn_login' >Login</button></a>
    <a class="signup" href='/signup'>Don't have an account? Sign up now!</a>
  </form>
<p class='text-center' id='error'></p>
</div>
</div>
</div>
</div>

</body>
</html>
