<html>
<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">


  <!-- set viewport to device width to make site responsive -->
  <meta name="viewport" content="width=device-width, initial-scale=1">

  <!-- bootstrap css -->
  <link type="text/css" rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0/css/bootstrap.min.css">

  <!-- custom styles -->
  <link rel="stylesheet" type="text/css" href="/styles/style.css">
  <link rel="stylesheet" type="text/css" href="/styles/styles.css">

  <!-- jquery -->
  <script type="text/javascript" src="/scripts/jquery.js"></script>
  <!-- bootstrap js -->
  <script type="text/javascript" src="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0/js/bootstrap.min.js"></script>

  <!-- custom script -->
  <script type="text/javascript" src="/scripts/app.js"></script>

  <title>Tickets On Ice</title>
</head>
<body>

  <div class='container'>
    <div class='row'>
      <h3 class='col-1 offset-3'> Welcome to <h3>
        <h1 class='col-1 offset-3'> Tickets On Ice <h1>
        </div>
      </div>


    </body>
    </html>
