body {
  background-color: #d4f0ff;
}

h5 {
  margin-left: 0.7em;
  text-align: left;
}

.navbar-brand {
  font-size: 15px;
  text-transform: uppercase;
}

.navbar {
  background-color: #d4f0ff;
}

input {
  margin-left: 0.8em;
  text-transform: uppercase;
}

input#cc_number {
  width: 45%;
}

input#form_name{
  width: 47%;
}

input#form_lastname{
  margin-top: -3.4em;
  margin-left: 11.9em;
  width: 46%;
}

input#form_address{
  width: 95%;
}

input#unit_number{
  width: 40%;
}

input#form_address2{
  margin-top: -3.4em;
  margin-left: 10.3em;
  width: 53%;
}

input#city {
  width: 40%;
}

input#zip_code {
  width: 40%
}

input#form_phone {
  width: 95%
}

input#alt_phone {
  width: 95%
}

#city {
  width: 80%;
}

#state {
  margin-top: -3.6em;
  margin-left: 9.5em;
  width: 58%;
}

#creditCardType {
  margin-top: -2.6em;
  margin-left: 11.5em;
  width: 51%;
}

#expireMonth {
  margin-top: -1em;
  margin-left: 0.9em;
  width: 89%;
}

#expireMonth {
  margin-top: -1em;
  margin-left: 0.9em;
  width: 89%;
}

#expireYear {
  margin-top: -2.9em;
  margin-left: 9em;
  width: 43%;
}

#security_code {
  margin-top: -3.2em;
  margin-left: 16.2em;
  width: 28%;
}

li {
  list-style-type: none;
}

#menu li a {
  list-style-type: none;
  color: black;
}

btn {
  text-transform: uppercase;
}
